<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>index</div>
<img id='img' src="../../../static/images/icon.jpg" alt="" onclick="clickfn()">
<div id="content"></div>
<script id="test" type="text/html">
    <h1>{{title}}</h1>
    <ul>
        {{each list value i}}
        <li>索引 {{i + 1}} ：{{value}}</li>
        {{/each}}
    </ul>
</script>
<script>
	document.addEventListener('touchend', function (e) {
		e.preventDefault()
		newclickFn(e)
	})
	function newclickFn(e) {
		var elem = e.target
		var event = new CustomEvent('click');
		elem.dispatchEvent(event)
	}
	function clickfn() {
		console.log('click')
	}
</script>
</body>
</html>